/* #292C34 #2B323D*/
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500&family=Overpass+Mono:wght@500&family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
body{
    background: #292C34;
    color: #F0C27B;
    text-shadow: .1em .1em #5614B0;
    font-family: 'Overpass Mono', monospace;
}
h1{
    color: #cc5333;
    font-family: 'Poppins', sans-serif;
}

/* header */
nav img{
    margin: 1em;
    width: 15%;
    box-shadow: 0.08em .1em .5em #5614B0;
}
header section a.gflag {
        vertical-align: middle;
        font-size: 16px;
        padding: 1px 0;
        background-repeat: no-repeat;
        background-image: url(//gtranslate.net/flags/16.png);
    }

header section a.gflag img {
    border: 0;
}

header section a.gflag:hover {
    background-image: url(//gtranslate.net/flags/16a.png);
}

header section #goog-gt-tt {
    display: none !important;
}

header section .goog-te-banner-frame {
    display: none !important;
}

header section .goog-te-menu-value:hover {
    text-decoration: none !important;
}

header section #google_translate_element2 {
    display: none !important;
}
/* main index */
.index{
    margin:1em 2em;
}
.index div{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 2em;
}
.index div h1{
    font-size: 2em;
}
.index section{
    position: relative;
    width: 30vw;
    display: inline-block;
    margin-left: .9em;
}
.index article{
    margin-right: 2em;
    position: absolute;
    height: 40vh;
    padding: 1em;
    background-color: #2B323D;
    transition: top .2s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease;
    top: 0;
    box-shadow: 0 0 0 transparent;
    border-radius: 5px;
    text-align: center;
}
.index article:hover{
    top: -0.5rem;
    -webkit-box-shadow: 0 0.2rem 0.8rem rgb(36 36 36 / 15%);
    box-shadow: 0 0.1rem 0.9rem #F0C27B;    
}
.index article i{
    font-size: 1.4em;
    color: #F0C27B;
    padding: .8em;
    border-radius: 6px;
    background-color: #292C34;
}
.index article h1{
    font-size: 1.3em;
    margin: 1.5em 0 2em 0;
}
.index article h4{
    color: #F0C27B;
}
.index article img{
    width: 100%;
}

/* main cheatsheet */
.cheatsheet{
    text-align: center;
    margin: 2em auto;
}
.cheatsheet h1{
    background-color: #2B323D;
    margin: 1em auto;
    width: 60%;
    padding: .3em 0;
    border-radius: 4px;
}
.cheatsheet section{
    width: 60%;
	margin-left: auto;
	margin-right: auto;
}
details article{
    border-left: 2px solid #2B323D;
	border-right: 2px solid #2B323D;
	border-bottom: 2px solid #2B323D;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 0 0 4px 4px;
}
summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	border: 2px solid #2B323D;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
    border-radius: 4px 4px 0 0;
}
summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	color: #cc5333;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
details[open] summary {
	background-color: #2B323D;
}

details[open] summary:before {
	content: "↑";
}

summary:hover {
    background-color: #2B323D;
}
details ul li{
    display: inline-block;
    text-align: left;
}
details ul li:nth-child(1), details ul li:nth-child(2){
    color: #cc5333;
}
details ul li:nth-of-type(odd){
    width: 28%;
}
details ul li:nth-of-type(even){
    width: 70%;
    text-decoration: none;
    margin-bottom: 2em;
}
/* main cheatsheet */
footer{
    position:fixed;
    text-align: center;
    bottom:.2em;
    z-index:1;
    width:100%;
}